.todo-list {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 1.5rem;

   .todo-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      font-size: 15px;

      .todo-info {
         .todo-description {
            margin: 0;
         }
         .completed {
            text-decoration: line-through;
         }
         .todo-date {
            color: gray;
            font-size: 11px;
         }
      }

      .remove-todo {
         opacity: 0;
         transition: opacity 0.2s ease;
      }
      &:hover .remove-todo {
         opacity: 1;
      }
   }
}
